<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CommonTests.Properties.SQLServerSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="CommonTests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CommonTests.Properties.SQLServerSettings>
            <setting name="SqlServerName" serializeAs="String">
                <value>(local)\SQLEXPRESS</value>
            </setting>
            <setting name="SqlServerUser" serializeAs="String">
                <value>inspection</value>
            </setting>
            <setting name="SqlServerPw" serializeAs="String">
                <value>inspection</value>
            </setting>
            <setting name="AppveyorSqlServerName" serializeAs="String">
                <value>(local)\SQL2014</value>
            </setting>
            <setting name="AppveyorSqlServerUser" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="AppveyorSqlServerPw" serializeAs="String">
                <value>Password12!</value>
            </setting>
            <setting name="AppveyorBuildEnv" serializeAs="String">
                <value>74.205.54.20,104.197.110.30,104.197.145.181,146.148.85.29,67.225.139.254,67.225.138.82,67.225.139.144</value>
            </setting>
        </CommonTests.Properties.SQLServerSettings>
        <CommonTests.Properties.Settings>
            <setting name="IODirectoryPath" serializeAs="String">
                <value>.\IOTest</value>
            </setting>
        </CommonTests.Properties.Settings>
    </userSettings>
</configuration>